In [5]:
import pandas as pd

df = pd.read_csv("../Superstore_Management_System2.csv")
df.head()

,OrderId,Order Date,Ship Date,Customer ID,Customer Name,Customer Segment,Product ID,Product Name,Category,Region,...,Sales Amount,Cost Price,Profit,Payment Mode,Delivery Status,Supplier Name,Supplier Email,Stock Left,Auto Reorder,Reorder Quantity
0,ODR1000,12-01-2026,17-01-2026,CUST503,Jennifer Scott,Home Office,PROD7985,Monitor,Electronics,South,...,12079.35,8062.96,4016.39,UPI,Cancelled,Weber Group,carrolljessica@montoya.biz,47,No,0
1,ODR1001,15-07-2025,21-07-2025,CUST640,Stacey Nguyen,Consumer,PROD7562,Notebook,Office Supplies,South,...,22835.00,17090.24,5744.76,Cash,Delivered,"Anthony, Barrera and Ramos",michelle63@allison-brown.com,3,Yes,33
2,ODR1002,01-03-2025,04-03-2025,CUST492,James Rivera,Corporate,PROD1771,Juice Pack,Grocery,East,...,42360.50,27912.52,14447.98,UPI,Returned,Fitzgerald and Sons,timothy08@sparks.com,29,No,0
3,ODR1003,20-07-2025,25-07-2025,CUST400,Nicholas Thompson,Consumer,PROD6803,Keyboard,Electronics,East,...,3643.20,3017.61,625.59,Net Banking,Returned,Garcia-Sutton,stephaniemoran@anderson.com,25,No,0
4,ODR1004,28-12-2025,31-12-2025,CUST668,Paul Thomas,Corporate,PROD7613,Cooking Oil,Grocery,West,...,171.00,127.36,43.64,UPI,Delivered,"Shelton, Burnett and Allen",velezjack@scott.biz,6,Yes,39

## Data Type Conversion

In [9]:
# Convert date columns safely

df['Order Date'] = pd.to_datetime(df['Order Date'], format='%Y-%m-%d')
df['Ship Date'] = pd.to_datetime(df['Ship Date'],format='%Y-%m-%d')

# Check conversion
print("Order Date dtype:", df['Order Date'].dtype)
print("Ship Date dtype:", df['Ship Date'].dtype)

# Check if any invalid dates
print("\nInvalid dates found:")
print(df[['Order Date','Ship Date']].isnull().sum())

Order Date dtype: datetime64[ns]
Ship Date dtype: datetime64[ns]

Invalid dates found:
Order Date    610
Ship Date       0
dtype: int64

In [ ]:
#------------------
# Total Sales
#------------------

total_sales = df["Sales Amount"].sum()
print("Total Sales:", round(total_sales,2))

Total Sales: 11741686.45

In [ ]:
#------------------
# Total Profit
#------------------
total_profit = df["Profit"].sum()
print("Total Profit:", round(total_profit,2))

In [11]:
#----------------------
# Region Wise Sales
#----------------------

region_sales = df.groupby("Region")["Sales Amount"].sum().sort_values(ascending=False)
print(region_sales)

Region
North    3141671.60
East     3086956.90
South    2841761.70
West     2671296.25
Name: Sales Amount, dtype: float64

In [ ]:
#------------------------------
#  Category Wise Performance
#------------------------------

category_performance = df.groupby("Category")[["Sales Amount","Profit"]].sum().sort_values(by="Sales Amount", ascending=False)
print(category_performance)

                 Sales Amount     Profit
Category
Grocery            3364112.10  796866.26
Office Supplies    2939713.50  721549.76
Electronics        2762086.80  692847.32
Furniture          2675774.05  639042.51

In [13]:
#------------------------------
# Payment Mode Analysis
#------------------------------
payment_analysis = df["Payment Mode"].value_counts()
print(payment_analysis)

Payment Mode
UPI            267
Credit Card    249
Net Banking    246
Cash           238
Name: count, dtype: int64

In [14]:
#------------------------------
# Monthly Sales Trend
#------------------------------
df["Month"] = df["Order Date"].dt.to_period("M")

monthly_sales = df.groupby("Month")["Sales Amount"].sum()

print(monthly_sales)

Month
2024-01    135599.95
2024-02    243295.80
2024-03    106317.75
2024-04    271913.80
2024-05     93511.50
2024-06     93532.30
2024-07    168818.80
2024-08    161774.90
2024-09     99953.20
2024-10    150627.90
2024-11    196458.90
2024-12    102218.10
2025-01    226580.90
2025-02    169108.75
2025-03    144630.50
2025-04    188594.15
2025-05    146570.25
2025-06     98832.70
2025-07    301903.00
2025-08    185648.15
2025-09    196727.45
2025-10    170710.05
2025-11    173173.65
2025-12    247553.50
2026-01     15359.60
2026-02     29944.00
2026-03     28728.35
2026-05     32489.55
2026-06      4158.00
2026-07     38710.20
2026-08     19218.30
2026-09     17322.70
2026-10     76071.70
2026-11     76804.60
2026-12     39717.15
Freq: M, Name: Sales Amount, dtype: float64

In [ ]:
#------------------------------
#  Advanced (Bonus)
#------------------------------
top_customers = df.groupby("Customer Name")["Sales Amount"].sum().sort_values(ascending=False).head(5)
print(top_customers)

Customer Name
Michael Rowe      45628.5
Kathleen Page     45260.0
William Wilson    43876.2
Angela Sanders    43677.0
Allison Diaz      43570.0
Name: Sales Amount, dtype: float64